{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h2>All Posts</h2>
    {% if user.is_authenticated %}
        <div class="form-contianer">
            <form id="newPostForm">
                {% csrf_token %}
                <textarea name="content" id="formContent" placeholder="What's on your mind?" required></textarea>
                <button type="submit">Post</button>
            </form>
        </div>
    {% endif %}
    {% if message %}
        <div class="empty-message">
            <h3>{{ message }}</h3>
        </div>
    {% endif %}
    <div id="posts-container">
        <div id="newPost" style="display: none;"></div>
        {% for post in page_obj %}
            <div class="post" data-post-id="{{ post.id }}">
                <a href="{% url 'profile' post.author.username %}"><strong>{{ post.author.username }}</strong> says:</a>
                <p class="post-content">{{ post.content }}</p>
                <p class="timestamp">{{ post.created_at }}</p>
                <p>Likes: <span class="likes-count">{{ post.likes.count }}</span></p>
                <button class="like-button" id="likeBtn">
                    {% if user in post.likes.all %}
                        Unlike
                    {% else %}
                        Like
                    {% endif %}
                </button>
                {% if user == post.author %}
                    <button id="editBtn">Edit</button>
                {% endif %}
            </div>
        {% endfor %}
        <div class="pagination d-flex justify-content-around">
            <span>
                {% if page_obj.has_previous %}
                    <a class="btn btn-dark rounded-pill text-light" href="?page={{ page_obj.previous_page_number }}{% if request.GET.filter %}&filter={{ request.GET.filter }}{% endif %}">Previous</a>
                {% endif %}
            </span>
            <span>
                {% if page_obj.paginator.num_pages > 1 %}
                    <a href="">Page: {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
                {% endif %}
            </span>
            <span>
                {% if page_obj.has_next %}
                    <a class="btn btn-dark rounded-pill text-light" href="?page={{ page_obj.next_page_number }}{% if request.GET.filter %}&filter={{ request.GET.filter }}{% endif %}">Next</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}