{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        <meta name="csrf-token" content="{{ csrf_token }}">
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-success shadow-sm">
            <a class="navbar-brand" href="{% url 'index' %}">Network</a>
          
            <div class="w-100">
              <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' user.username %}"><strong>{{ user.username }}</strong></a>
                    </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}">All Posts</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}?filter=following">Following</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                    <li class="nav-item ml-auto">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownNotifications" data-toggle="dropdown" aria-expanded="false">
                                🔔
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right p-2" style="width: 300px;">
                                {% for n in notifications %}
                                    <li>
                                    <div class="card mb-2">
                                        <div class="card-body p-2">
                                        {% if n.notification_type == "like" %}
                                            <a href="{% url 'post_detail' n.post.id %}">
                                            <strong>{{ n.sender.username }}</strong> te dio like en tu post
                                            </a>
                                        {% elif n.notification_type == "follow" %}
                                            <a href="{% url 'profile' n.sender.id %}">
                                            <strong>{{ n.sender.username }}</strong> comenzó a seguirte
                                            </a>
                                        {% endif %}
                                        </div>
                                    </div>
                                    </li>
                                {% empty %}
                                    <li><span class="text-muted">No tienes notificaciones nuevas</span></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        
        <div class="body container">
            {% block body %}
            {% endblock %}
        </div>
    </body>
<!-- Required JS for Bootstrap 4 dropdowns -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

{% block script %}{% endblock %}
</html>
